<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.davidsword.alfredunicornbusyserver</string>
	<key>connections</key>
	<dict>
		<key>0A3AE69F-7526-452E-907B-B65EC21B3DBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34486327-6B50-40DA-B934-8E3044A12BE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A7E303B-1885-4F8E-B4B3-D72E443D961D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A3AE69F-7526-452E-907B-B65EC21B3DBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AD7C71D-A764-4A20-8417-F7E6B96FF305</key>
		<array/>
		<key>34486327-6B50-40DA-B934-8E3044A12BE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1CA7D61-22E2-4412-B2BC-09319266C764</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43F119C8-F13B-4EEF-BDA6-9F17CB214D5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88E61601-AB36-4FD0-B856-91A5801E3098</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A7E303B-1885-4F8E-B4B3-D72E443D961D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9F6B061A-6117-4F27-A932-BF2E80E1FAB5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Set to Busy</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78D084DB-0DE5-447A-A96F-BB598706F67C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A3AE69F-7526-452E-907B-B65EC21B3DBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88E61601-AB36-4FD0-B856-91A5801E3098</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D7E281D-F1D3-4A85-BE5C-039D8A542A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>761F53C7-AF60-42B9-BFA2-AF60B170F12C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1AD7C71D-A764-4A20-8417-F7E6B96FF305</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D7E281D-F1D3-4A85-BE5C-039D8A542A93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A3AE69F-7526-452E-907B-B65EC21B3DBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F6B061A-6117-4F27-A932-BF2E80E1FAB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A3AE69F-7526-452E-907B-B65EC21B3DBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1CA7D61-22E2-4412-B2BC-09319266C764</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AD7C71D-A764-4A20-8417-F7E6B96FF305</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>033AEDA6-C8ED-4C2B-9597-5B2DFE38759D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7FE97519-9DA2-43E6-8075-0E7B0AD09B7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F36F222A-5AFB-44D5-9C40-6E918879907C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7D18028-EB2C-46E8-9352-4D4563A2BA97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Sword</string>
	<key>description</key>
	<string>Interface for Unicorn Busy Server on a Raspberry Pi</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>_Alfred Unicorn Busy Server</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>&lt;?php

require( '2-status-select.php' );</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9D7E281D-F1D3-4A85-BE5C-039D8A542A93</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string>#FF0000D8</string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>2</integer>
				<key>font</key>
				<string>Operator Mono</string>
				<key>largetypetext</key>
				<string>Alfred Unicorn Busy Server:

Unable to curl to RPI ({var:UBS_ADDRESS})

Query: {query}

Double check the RPI is on, and the URL above doesn't have a trailing slash.</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>1AD7C71D-A764-4A20-8417-F7E6B96FF305</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>error</string>
						<key>outputlabel</key>
						<string>ok</string>
						<key>uid</key>
						<string>761F53C7-AF60-42B9-BFA2-AF60B170F12C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>88E61601-AB36-4FD0-B856-91A5801E3098</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Off</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1A7E303B-1885-4F8E-B4B3-D72E443D961D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>ubs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Status...</string>
				<key>script</key>
				<string>&lt;?php
 require '1-status-current.php';</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Unicorn Busy Server</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>43F119C8-F13B-4EEF-BDA6-9F17CB214D5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>&lt;?php

require('3-status-change.php');</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34486327-6B50-40DA-B934-8E3044A12BE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>error</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>033AEDA6-C8ED-4C2B-9597-5B2DFE38759D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>ok</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E1CA7D61-22E2-4412-B2BC-09319266C764</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>STATUS</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0A3AE69F-7526-452E-907B-B65EC21B3DBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Busy</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9F6B061A-6117-4F27-A932-BF2E80E1FAB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Unicorn Busy Server</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7FE97519-9DA2-43E6-8075-0E7B0AD09B7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>ubs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>78D084DB-0DE5-447A-A96F-BB598706F67C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/davidsword/alfred-unicorn-phat/blob/master/README.md</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A7D18028-EB2C-46E8-9352-4D4563A2BA97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>?ubs readme</string>
				<key>subtext</key>
				<string>https://github.com/davidsword/alfred-unicorn-phat/blob/master/README.md</string>
				<key>text</key>
				<string>See Readme for Workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F36F222A-5AFB-44D5-9C40-6E918879907C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/davidsword/alfred-unicorn-phat</string>
	<key>uidata</key>
	<dict>
		<key>0A3AE69F-7526-452E-907B-B65EC21B3DBD</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>1A7E303B-1885-4F8E-B4B3-D72E443D961D</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>1AD7C71D-A764-4A20-8417-F7E6B96FF305</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>cant connect to RPI</string>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>34486327-6B50-40DA-B934-8E3044A12BE0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>3-status-change.php</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>43F119C8-F13B-4EEF-BDA6-9F17CB214D5C</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>1-status-current.php</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>78D084DB-0DE5-447A-A96F-BB598706F67C</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>7FE97519-9DA2-43E6-8075-0E7B0AD09B7E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>88E61601-AB36-4FD0-B856-91A5801E3098</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>9D7E281D-F1D3-4A85-BE5C-039D8A542A93</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>2-status-select.php</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>9F6B061A-6117-4F27-A932-BF2E80E1FAB5</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>A7D18028-EB2C-46E8-9352-4D4563A2BA97</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>E1CA7D61-22E2-4412-B2BC-09319266C764</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>F36F222A-5AFB-44D5-9C40-6E918879907C</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>UBS_ADDRESS</key>
		<string>http://rpiaddress:5000</string>
		<key>UBS_BRIGHTNESS</key>
		<string>0.172</string>
	</dict>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://davidsword.ca</string>
</dict>
</plist>
