<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.davidsword.busylight</string>
	<key>connections</key>
	<dict>
		<key>16B7EC0C-C13F-4305-A063-4C9A488C7B27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1BD6943-13A3-491B-9176-8EBD0D2D6BEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78D084DB-0DE5-447A-A96F-BB598706F67C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1BD6943-13A3-491B-9176-8EBD0D2D6BEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC12B4FD-3283-4901-8B25-3DBA2E1CC909</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1BD6943-13A3-491B-9176-8EBD0D2D6BEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1BD6943-13A3-491B-9176-8EBD0D2D6BEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF124F61-710E-442E-B47E-0A1895DE669C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5824A2D0-CC5F-40EB-81B2-1DB0A28FC59D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8F29801-8BCF-42B2-B1AE-93787C3D8E3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1BD6943-13A3-491B-9176-8EBD0D2D6BEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB1B2597-D760-4B09-8994-4DB4DB125524</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FE97519-9DA2-43E6-8075-0E7B0AD09B7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>51824601-9707-40D3-8BBE-AB2507CCE476</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>170B07F9-EDE9-41B1-A737-70A9594C28FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>51824601-9707-40D3-8BBE-AB2507CCE476</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>78BF82D7-6D5E-4B14-9DAC-238898A4B447</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF124F61-710E-442E-B47E-0A1895DE669C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB1B2597-D760-4B09-8994-4DB4DB125524</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Sword</string>
	<key>description</key>
	<string>Save seconds &amp; retire earlier</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>_Busy Light</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>bl-red</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>BC12B4FD-3283-4901-8B25-3DBA2E1CC909</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Status: {query}</string>
				<key>title</key>
				<string>Busy Light</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7FE97519-9DA2-43E6-8075-0E7B0AD09B7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>bl-yellow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>16B7EC0C-C13F-4305-A063-4C9A488C7B27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>bl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>&lt;?php

require 'bl.php';

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set Busy Light</string>
				<key>title</key>
				<string>Set Busy Light</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C1BD6943-13A3-491B-9176-8EBD0D2D6BEC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

require 'build-and-send-payload.php'

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF124F61-710E-442E-B47E-0A1895DE669C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(red|orange|green|clear)$</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>51824601-9707-40D3-8BBE-AB2507CCE476</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>uh oh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FB1B2597-D760-4B09-8994-4DB4DB125524</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>state.txt</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>relativepathmode</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>170B07F9-EDE9-41B1-A737-70A9594C28FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>bl-green</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>C8F29801-8BCF-42B2-B1AE-93787C3D8E3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>bl-off</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>78D084DB-0DE5-447A-A96F-BB598706F67C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>5824A2D0-CC5F-40EB-81B2-1DB0A28FC59D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>78BF82D7-6D5E-4B14-9DAC-238898A4B447</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16B7EC0C-C13F-4305-A063-4C9A488C7B27</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>170B07F9-EDE9-41B1-A737-70A9594C28FC</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>the node setup is stateless, so this is a "last used" for "current"</string>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>5824A2D0-CC5F-40EB-81B2-1DB0A28FC59D</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>78BF82D7-6D5E-4B14-9DAC-238898A4B447</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>78D084DB-0DE5-447A-A96F-BB598706F67C</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>7FE97519-9DA2-43E6-8075-0E7B0AD09B7E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>BC12B4FD-3283-4901-8B25-3DBA2E1CC909</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C1BD6943-13A3-491B-9176-8EBD0D2D6BEC</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>C8F29801-8BCF-42B2-B1AE-93787C3D8E3F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>FB1B2597-D760-4B09-8994-4DB4DB125524</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>FF124F61-710E-442E-B47E-0A1895DE669C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>curl to rPI</string>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>RPI_NODEJS_ADDRESS</key>
		<string>http://0.0.0.0:3000/</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://davidsword.ca</string>
</dict>
</plist>
